
    body {
        background-image: url("gatinho.jpg");
        background-repeat: no-repeat;
        background-position: right top;
        background-attachment: scroll;
        
      }
      